[Unit]
Description=register item location daemon
After=network.target

[Service]
Type=simple
User=pi
Group=pi

WorkingDirectory=/home/pi/OTGT/Handhield/register_item_location/raspberry_pi/application
EnvironmentFile=/home/pi/OTGT/environment.ini

ExecStart=/home/pi/OTGT/Handhield/register_item_location/raspberry_pi/application/daemon.py

ExecReload=/bin/kill -HUP ${MAINPID}
RestartSec=1
Restart=always

[Install]
WantedBy=multi-user.target
