# environment containing settings and passwords
environment.ini

# cache by Python run-time
__pycache__/

# use this as database name if any application need to store tabular data in sqlite
data.sqlite

# swap files used for recovery by Kate Editor
*.kate-swp

# Energy_Management
Energy_Management/elprice/bindmount
Energy_Management/homeassistant/bindmount
Energy_Management/mosquitto/bindmount
