; replace INSERT with correct values and change filename to environment.ini
; NOTE: keep values (unless bool) inside double qoutes to avoid errors on special chars

[retail] ; retail server and database used in our shop
  db_host = "INSERT"
  db_port = "INSERT"
  db_name = "INSERT"
  db_user = "INSERT"
  db_password = "INSERT"

[datawarehouse] ; connect to the datawarehouse server and/or database
  datawarehouse_ip = "INSERT"
  datawarehouse_host = "INSERT"
  cip_info_host = "INSERT"
  cip_info_port = "INSERT"
  db_host = "INSERT"
  db_port = "INSERT"
  db_name = "INSERT"
  db_user_read = "INSERT"
  db_password_read = "INSERT"
  db_user_admin = "INSERT"
  db_password_admin = "INSERT"
  db_user_post = "INSERT"
  db_password_post = "INSERT"
  barcode_generator_host = "INSERT"
  barcode_generator_port = "INSERT"

[nextcloud_otgt] ; self-hosted nextcloud instance used for OTGT
  nc_host = "INSERT"
  nc_user_autoreport = "INSERT"
  nc_password_autoreport = "INSERT"

[developement] ; enables the server to behave differently production and dev env.
  show_errors = false
  show_debug = false
  show_nav_links = false

[contact_dev]
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"

[contact_staff]
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"

[contact_sysadmin]
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"

[confidential]; extra options for data that might be considered sensitive
  show = false
  passphrase = "INSERT"

[competitive]; only if employees opts in, we can show competitive data
  show = false

[network]; providing access to wifi etc.
  ssid = "INSERT"
  passphrase = "INSERT"
