; replace INSERT with correct values and change filename to environment.ini
; NOTE: keep values inside double qoutes to avoid errors on special chars

[retail] ; database used in our shop
  db_server = "INSERT"
  db_port = "INSERT"
  db_name = "INSERT"
  db_user = "INSERT"
  db_password = "INSERT"

[datawarehouse] ; database used for data collection
  db_server = "INSERT"
  db_port = "INSERT"
  db_name = "INSERT"
  db_user_read = "INSERT"
  db_password_read = "INSERT"
  db_user_admin = "INSERT"
  db_password_admin = "INSERT"
  db_user_post = "INSERT"
  db_password_post = "INSERT"

[nextcloud_otgt] ; self-hosted nextcloud instance used for OTGT
  server = "INSERT"
  user_autoreport = "INSERT"
  password_autoreport = "INSERT"

[developement] ; enables the server to behave differently production and dev env.
  show_errors = false
  show_debug = false
  show_nav_links = false

[contact_dev] ; contact info to the guy(s) developing this codebase
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"

[contact_staff]
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"

[contact_sysadmin]
  name = "INSERT"
  email = "INSERT"
  phone = "INSERT"
